.btn-danger{
	width: 100%;
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}


h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}